$total:100%;
$cien:100px;
$colorIcono:rgb(255,142,72);

.form-group
{
	padding:10px;
	background-color:white;
	outline:1px solid red;
}
#btn-select
{
	background-color:$colorIcono;
	width:100%;
}
#logo
{
	width:$total - 20%;

}
#exclama
{
	color:$colorIcono;
font-size:80px;
}
.vehiculo
{
	width:$cien / 2;
	height:$cien / 2;
}
.distancia
{
	display:none;
}

#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
header
{
	background-color:white;
	outline:1px solid  red;
}
#info .carro{
	
	background-color:white;

}
#cant
{
	width:70%;
}
#btn-compartir
{
	border:none;
	height:30px;
	border-radius:3px;
	background-color:$colorIcono;
	width:100%;

}