$total:100%;
$cien:100px;
$colorIcono:rgb(255,142,72);
*
{
	outline:1px solid red;
}
#logo
{
	width:$total - 20%;

}
#exclama
{
	color:$colorIcono;
}
.vehiculo
{
	width:$cien / 2;
	height:$cien / 2;
}
.distancia
{
	display:none;
}